@*@{
        ViewBag.Title = "Tiến độ";
    }*@


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard</title>
    <link rel="stylesheet" href="~/css/css cat/index.css">
    @*<link rel="stylesheet"
              href="~/Content/font.css" />
        <link rel="stylesheet" type="text/css"
              href="~/Content/bootstrap4.6.1.min.css" />
        <link rel="stylesheet" type="text/css"
              href="~/Content/all.css" />*@
    <link rel="stylesheet" href="~/Content/apexcharts.min.css">
    <link href="~/Content/datepicker.min.css" rel="stylesheet">


    @*date picker*@
    <style>
        .header-span {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            border: 1px solid whitesmoke;
            padding: 5px;
            box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
            border-radius: 10px;
        }

        .containerbar {
            background-color: rgb(192, 192, 192);
            @*width: 80%;*@
            @*border-radius: 15px;*@
        }

        .skill {
            background-color: rgb(116, 194, 92);
            color: white;
            padding: 1%;
            text-align: right;
            font-size: 10px;
            @*border-radius: 15px;*@
        }
        .layout-border p{
            margin-top:5px;
        }

        #CAT {
            width: 80%;
        }

        #BTP {
            width: 60%;
        }
        #RC {
            width: 60%;
        }
        #DT {
            width: 60%;
        }
        .title {
            font-size: 18px;
            color: green;
            
        }
    </style>

</head>

<body>
    <main style="padding:5px">
        <div class="content-span  header-span">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    Chi tiết tiến độ mã hàng
                </div>
            </div>
        </div>
        <div class="content-span" id="tiendo">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="layout-border">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label for="birthday">Chọn tháng:</label>
                                <input class="date" type="month" id="dt" name="dt">

                            </div>
                            <div class="" style="width:220px;margin-top:3px">
                                <label for="selectkh">Chọn KH:</label>
                                <select id="selectkh">
                                 
                                </select>
                            </div>
                            @*<div class="col-sm-12 col-md-6">
                                    <label for="birthday">Kết thúc:</label>
                                    <input class="date" type="month" id="de" name="de">
                                </div>*@
                        </div>
                        <div id="containertiendo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="layout-border">
                        <div class="" style="width:220px;margin-top:3px">
                            <label for="selectchuyen">Chọn chuyền:</label>
                            <select id="selectchuyen">
                            </select>
                        </div>
                        @*<div id="containertiendotheochuyen">
                          </div>*@
                        <div class="layout-border">
                            <div class="title">Tiến độ mã hàng <span id="tdnum"></span> của chuyền  <span id="tdcnum"></span></div>
                            <div class="layout-bar">
                                <p>Cắt</p>
                                <div class="containerbar">
                                    <div class="skill" id="CAT"></div>
                                </div>
                            </div>
                            <div class="layout-bar">
                                <p>BTP</p>
                                <div class="containerbar">
                                    <div class="skill" id="BTP"></div>
                                </div>
                            </div>
                            <div class="layout-bar">
                                <p>Ra chuyền</p>
                                <div class="containerbar">
                                    <div class="skill" id="RC"></div>
                                </div>
                            </div>
                            <div class="layout-bar">
                                <p>Đóng tùng</p>
                                <div class="containerbar">
                                    <div class="skill" id="DT"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="layout-border">
                        <div id="container-tdAll">
                        </div>
                        <div id="chart">
                            <div id="apex-chart-tiendo"></div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-12">

                    @*<div class="layout-border">
                        <div class="title">Tiến độ mã hàng <span id="tdnum"></span> của chuyền  <span id="tdcnum"></span></div>
                        <div class="layout-bar">
                            <p>Cắt</p>
                            <div class="containerbar">
                                <div class="skill" id="CAT"></div>
                            </div>
                        </div>
                        <div class="layout-bar">
                            <p>BTP</p>
                            <div class="containerbar">
                                <div class="skill" id="BTP"></div>
                            </div>
                        </div>
                        <div class="layout-bar">
                            <p>Ra chuyền</p>
                            <div class="containerbar">
                                <div class="skill" id="RC"></div>
                            </div>
                        </div>
                        <div class="layout-bar">
                            <p>Đóng tùng</p>
                            <div class="containerbar">
                                <div class="skill" id="DT"></div>
                            </div>
                        </div>
                    </div>*@

                </div>
            </div>
        </div>

    </main>

    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/popper.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap4.6.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/apexcharts.min.js"></script>
    <script src="~/Scripts/hightchart.js"></script>
    <script src="~/Scripts/datepicker.min.js"></script>

    <script src="~/Scripts/js cat/index.js"></script>
    <script src="~/Scripts/chart/chart-tiendoct.js"></script>
    @*<script src="~/Scripts/chart/chart-chatluong.js"></script>*@

    @*<script src="~/Scripts/chart/chart-cat.js"></script>
        <script src="~/Scripts/chart/chart-donggoi.js"></script>*@



</body>

</html>