@{
    ViewBag.Title = "Doanh thu của mã hàng";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.36.3/apexcharts.min.css">
    <link rel="stylesheet" href="~/css/chart.css">
    <style>
        .highcharts-title, .highcharts-credits, .highcharts-legend-item {
            display: none;
        }
    </style>
</head>
<body>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- end:: Content Head -->
        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Portlet-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    TOP 10 MÃ HÀNG BÁN CHẠY <span>THÁNG NÀY</span>
                                </h3>
                                <select class="" id="slc_theo">
                                    <option value="1">THEO DOANH THU</option>
                                    <option value="2">THEO SỐ LƯỢNG</option>
                                </select>
                            </div>
                            <div class="kt-portlet__head-label">
                                <select class="" id="slc_date">
                                    <option value="1">Hôm nay</option>
                                    <option value="2">Hôm qua</option>
                                    <option value="3">7 ngày qua</option>
                                    <option value="4">Tháng này</option>
                                    <option value="5">Tháng trước</option>
                                </select>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <div class="kt-form kt-form--label-left">
                            <div class="kt-portlet__body col-lg-12 col-sm-12">
                                <div id="chart"></div>
                            </div>
                        </div>
                        <!--end::Form-->
                    </div>
                    <!--end::Portlet-->
                </div>

            </div>
            <!-- end -->
        </div>

        <!-- begin:: Footer -->
        <!-- end:: Footer -->
    </div>
    @section scripts {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="~/Scripts/doanhthu/sanpham.js"></script>

        <!--begin::Page Scripts(used by this page) -->
        <script src="https://code.highcharts.com/highcharts.js" type="text/javascript"></script>
        <script src="https://code.highcharts.com/highcharts-more.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script>
            

        </script>
    }
</body>
</html>