
@{
    ViewBag.Title = "Chi tiết chất lượng";
    @*ViewBag.Title = "Chất Lượng";*@
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard</title>
    <link rel="stylesheet" href="~/css/css cat/index.css">
    <link rel="stylesheet"
          href="~/Content/font.css" />
    <link rel="stylesheet" type="text/css"
          href="~/Content/bootstrap4.6.1.min.css" />
    <link rel="stylesheet" type="text/css"
          href="~/Content/all.css" />
    <link rel="stylesheet" href="~/Content/apexcharts.min.css">
    <link href="~/Content/datepicker.min.css" rel="stylesheet">


    @*date picker*@
    <style>
        .header-span {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            border: 1px solid whitesmoke;
            padding: 5px;
            box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
            border-radius: 10px;
        }
    </style>

</head>

<body>
    <main style="padding:5px">
        @*<div class="content-span  header-span">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    Chi tiết chất lượng
                </div>
            </div>
        </div>*@
        <div class="content-span" style="display:none" id="cat">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="layout-border">
                        <div id="container-catall">
                        </div>
                        <div id="chart">
                            <div id="apex-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="layout-border">
                        <div style="display:flex">
                            <label for="datepicker" style="margin-top:5px">Chọn năm &#160; </label>
                            <input type="text" class="form-control" name="datepicker" style="width:150px" id="datepicker" value="2023" />
                        </div>
                        <div id="chart2"></div>
                    </div>
                </div>
                @*<div class="col-sm-12 col-md-6">
                    <div class="layout-border">
                        <div style="display:flex">
                            <label for="datepicker" style="margin-top:5px">Chọn năm &#160; </label>
                            <input type="text" class="form-control" name="datepicker" style="width:150px" id="datepicker" value="2023" />
                        </div>
                        <div id="chart2"></div>
                    </div>
                </div>*@
            </div>

        </div>
        <div class="content-span" style="display:none" id="may">
            <div>may</div>
        </div>
        <div class="content-span" style="display:none" id="donggoi">

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="layout-border">
                        <div id="container-dgall">
                        </div>
                        <div id="chart">
                            <div id="apex-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">

                    <div class="layout-border">
                        <div id="chart-ssdg"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="content-span" style="display:none" id="doanhthu">
            <div id="containerdoanthu">
            </div>
            <div id="chart">
                <div id="apex-chart"></div>
            </div>
        </div>
        <div class="content-span" id="chatluong">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="layout-border">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label for="birthday">Từ ngày:</label>
                                <input class="date" type="date" id="dtcl" name="dt">

                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="birthday">Đến ngày:</label>
                                <input class="date" type="date" id="decl" name="de">
                            </div>
                        </div>
                        <div id="containerchatluong">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="layout-border">
                        <br />
                        <div id="containerchatluongtheochuyen">
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="layout-border">
                        <div id="linechartchatluong">
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="layout-border" style="background-color:#fff">
                        <span style="font-weight:bold">✔️ Tổng quan toàn bộ </span>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="" style="text-align: left; padding-left: 10px">
                                    <br />
                                    <span style="font-weight:bold;color:red"> ➡️ Cần cải thiện chất lượng sản phẩm của chuyền <span id="chuyencancaithien"></span></span><br />
                                    <span style="font-weight: bold; color: red"> ➡️ Giảm tỉ lệ lỗi của <span id="mathangcancaithien"></span></span>

                                    @*<span style="font-weight:bold"> ➡️ Loại hàng cần cải thiện <span id="sanphamcancaithien"></span></span>*@

                                </div>

                            </div>
                        </div>


                        <span style="font-weight:bold">✔️ phân tích lỗi theo chuyền (chuyền <span id="ptchuyen"></span>) </span>


                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="contentdiv">

                                    <span style="color:green">
                                        Tỷ lệ lỗi cao nhất
                                    </span>

                                    <div id="tllcn" class="contenttiendo">

                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="contentdiv">
                                    <span style="color:green">
                                        Loại hàng thế mạnh(ít lỗi)
                                    </span>

                                    <div id="hhtm" class="contenttiendo">

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="contentdiv">

                                    <span style="color:green">
                                        Tỷ lệ lỗi trung bình
                                    </span>

                                    <div id="tlltbchuyen" class="contenttiendo">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12 col-md-12">
                                <div class="" style="text-align: left; padding-left: 10px">
                                    <br />
                                    @*<span style="font-weight:bold"> ➡️ Cần cải thiện chất lượng sản phẩm của chuyền <span id="chuyencancaithien"></span></span>*@
                                    <span style="font-weight:bold;color:red"> ➡️ Loại hàng cần cải thiện <span id="sanphamcancaithien"></span></span>

                                </div>

                            </div>
                        </div>
                        <span style="font-weight:bold">✔️ phân tích tổng quan mã hàng <span id="mhct"></span> - chuyền <span id="mhctchuyen"></span>  </span>
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="contentdiv">

                                    <span style="color:green">
                                        Ngày có tỉ lệ lỗi cao nhất
                                    </span>

                                    <div id="tllcnchuyen" class="contenttiendo">

                                    </div>
                                </div>

                            </div>
                            @*<div class="col-sm-6 col-md-4">
                                <div class="contentdiv">
                                    <span>
                                        Chuyền hỏng hàng nhiều nhất
                                    </span>

                                    <div id="chh" class="contenttiendo">

                                    </div>
                                </div>
                            </div>*@
                            <div class="col-sm-6 col-md-4">
                                <div class="contentdiv">

                                    <span style="color:green">
                                        Tỷ lệ lỗi trung bình
                                    </span>

                                    <div id="tlltb" class="contenttiendo">

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </main>

    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/popper.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap4.6.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/apexcharts.min.js"></script>
    <script src="~/Scripts/hightchart.js"></script>
    <script src="~/Scripts/datepicker.min.js"></script>

    <script src="~/Scripts/js cat/index.js"></script>
    @*<script src="~/Scripts/chart/chart-tiendo.js"></script>*@
    <script src="~/Scripts/chart/chart-chatluong.js"></script>

    @*<script src="~/Scripts/chart/chart-cat.js"></script>
        <script src="~/Scripts/chart/chart-donggoi.js"></script>*@



</body>

</html>